.wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination button {
    width: 120px;
    height: 50px;

    color: aliceblue;
    background-color: transparent;
    border-radius: 15px;
    margin: 15px;
    font-size: 18px;
    font-weight: bold;
}

.pagination button:hover {
    background-color: #2ebddc;
}