.main {
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

}

.main img {
    width: 90vw;
    height: 35vw;

    border-radius: 10px;
}

.main{
    text-shadow: 5px 5px 5px black;
}
