.genreTag:hover{
    background-color: #2ebddc;
}
.genreTag:focus{
    background-color: #2ebddc;
}

.genreTag{
    font-size: 15px;
    font-family: Calibri, serif;
    font-weight: bold;
    height: 50px;
    width: 100px;
    border-radius: 5px;

}