.header{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    user-select: none;
    margin-right: 15px;
    margin-left: 15px;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    height: 50px;
    width: 50px;

    border-radius: 10px;
    box-shadow: 4px 4px 4px black;
}

.header button{
    background-color: transparent;
    margin-right: 80px;

    font-family: Calibri, serif;
    color: aliceblue;
    font-weight: bold;
    font-size: 30px;

    cursor: pointer;
    border: none;
    outline: none;
}
.btn1:hover{
    color: #2ebddc;
    text-shadow: 5px 5px 5px black;
}

.btn2:hover{
    color: #2ebddc;
    text-shadow: 5px 5px 5px black;
}

.btn1:focus{
    color: #2ebddc;
}

.btn2:focus{
    color: #2ebddc;
}