.poster{
    width: 280px;
    height: 440px;

    box-sizing: border-box;
    background-color: #3f424c;
    box-shadow: 5px 5px 5px black;
    overflow: hidden;
    border-radius: 5px;

    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 40px;
    margin-left: 40px;

    position: relative;

    user-select: none;

}
.poster img{
    height: 360px;
    width: 100%;

    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

    cursor:pointer;
}

.info{
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 80px;
    width: 260px;

    box-sizing: border-box;
    padding: 7px;
}

.info h3{
    font-size: 18px;
    color: aliceblue;
}

.info span{
    height: 25px;
    width: 25px;
    border-radius: 5px;

    background-color: #282c34;

    text-align: center;
}

.details{
    display: flex;
    flex-direction: column;
    align-items: center;


    padding: 10px;

    position: absolute;
    bottom: 0;
    right:0;
    left:0;

    overflow: auto;
    max-height: 100%;


    transform: translateY(100%);
    transition: all 0.3s;

    color: aliceblue;
    background-color: #3f424c;

    border-radius: 5px;
}

.details button{
    border: 1px solid aliceblue;
    border-radius: 15px;

    color: aliceblue;
    background-color: transparent;

    padding: 10px;
    text-align: center;
    font-size: 16px;

    cursor: pointer;
}
.details button:hover{
    background-color: #2ebddc;
}


.poster:hover .details{
    transform: translateY(0%);
}

.poster:hover .picture{
    filter: blur(4px);
}


span{
    font-size: 18px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.green{
    color: #15b115;
}
.orange{
    color: #d9800d;
}
.red{
    color: #d40505;
}




